/.env
/__pycache__
/venv
/node_modules

 
/archive
/markdown 
 
/summaries 
/old
/logs
/screenshots
/summaries

/chroma_db_BGE_EN_ICL
/chroma_db_M3
log.txt
log.txt
links.txt
grok_window_id.txt
screenshoots/
New_Games/
catalog_json/
Processed_Games/
downloaded_games/

components/__pycache__

google_vision_API_for_OCR.json
cyoa_static/
log.txt 